:root {
  --neutral-black: #000;
  --neutral-black-800: #262626;
  --neutral-black-700: #434343;
  --neutral-black-600: #555;
  --neutral-black-500: #7b7b7b;
  --neutral-black-400: #9d9d9d;
  --neutral-black-300: #c4c4c4;
  --neutral-black-200: #d9d9d9;
  --neutral-black-100: #e9e9e9;
  --neutral-black-50: #f5f5f5;
  --neutral-white: #fff;

  --secondary-red: #ff5449;
  --secondary-orange: #fd5a27;

  --primary-green: #00d282;
  --primary-green-300: #59db99;
  --primary-green-200: #91e5b7;
  --primary-green-100: #beefd3;
  --primary-green-50: #beefd3;

  --primary-blue: #3f95ff;
  --primary-blue-400: #51a5ff;
  --primary-blue-300: #6db5ff;
  --primary-blue-200: #95caff;
  --primary-blue-100: #bedeff;
  --primary-blue-50: #e4f2ff;

  --primary-yellow: #ffe600;
  --primary-yellow-400: #fee83d;
  --primary-yellow-300: #ffed65;
  --primary-yellow-200: #fff292;
  --primary-yellow-100: #fff7be;
  --primary-yellow-50: #fffce5;

  --form-fill-disabled: #363636;
  --btn-choose-disabled: #585858;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

html,
body {
  height: 100%;
}

body {
  font-size: 17px;
  font-family: "Pretendard";
  font-weight: 400;
}

/* 폰트 */
.large_title_20 {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.3;
  letter-spacing: -0.025rem;
}

.popup_title_24 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.3;
  letter-spacing: -0.025rem;
}

.body_18 {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.4;
  letter-spacing: -0.025rem;
}

.body_18_semibold {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.4;
  letter-spacing: -0.025rem;
}

.body_16 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: -0.025rem;
}

.body_16_semibold {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: -0.025rem;
}

.body_16_bold {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: -0.025rem;
}

.caption_15_medium {
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.4;
  letter-spacing: -0.025rem;
}

.caption_14_bold {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.4;
  letter-spacing: -0.025rem;
}

.caption_14_semibold {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.4;
  letter-spacing: -0.025rem;
}

.caption_14 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.4;
  letter-spacing: -0.025rem;
}

.caption_13_semibold {
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.4;
  letter-spacing: -0.025rem;
}

.caption_13 {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.4;
  letter-spacing: -0.025rem;
}

.caption_12_medium {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.4;
  letter-spacing: -0.025rem;
}

.caption_12 {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.4;
  letter-spacing: -0.025rem;
}

.caption_11_bold {
  font-weight: 700;
  font-size: 0.6875rem;
  line-height: 1.4;
  letter-spacing: -0.025rem;
}

.caption_11 {
  font-weight: 400;
  font-size: 0.6875rem;
  line-height: 1.4;
  letter-spacing: -0.025rem;
}

.caption_10 {
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 1.4;
  letter-spacing: -0.025rem;
}

.caption2_1 {
  font-weight: 400;
  font-size: 0.5rem;
  line-height: 1.2;
  letter-spacing: -0.01rem;
}

.number_26 {
  font-weight: 700;
  font-size: 1.354rem;
  line-height: 1.3;
  letter-spacing: -0.025rem;
}

.number_16 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
}

.number_13_medium {
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.4;
}

.number_13 {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.4;
}

.number_10_medium {
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 1.4;
}

.number_8_medium {
  font-weight: 500;
  font-size: 0.5rem;
  line-height: 1.4;
}