@import url(./reset.css);
@import url(./_system.css);
@import url(./char.css);

#main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.guide {
  width: 100%;
  max-width: 720px;
  min-height: 0;
  margin: 0 auto;
  padding-bottom: 20px;
  background-color: var(--neutral-black-800);
  position: relative;
  flex: 1;
  overflow: auto;
}

/* section S: */
.section {
  width: 100%;
  padding: 0 6%;
  margin: 0 auto;
}
/* section E: */

/* footer S: */
footer {
  display: none;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  background-color: var(--neutral-black-800);
  border-top: 1px solid var(--neutral-black-700);
  flex-shrink: 0;
}

footer.trainer,
footer.member {
  display: block;
}

footer ul {
  width: 100%;
  padding: 0.5625em 6.6% 2.125em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

footer figure img {
  width: 1.625em;
}

footer figure img:nth-of-type(2),
footer figure.on img:nth-of-type(1) {
  display: none;
}

footer figure.on img:nth-of-type(2) {
  display: block;
}

footer figure figcaption {
  color: var(--neutral-black-500);
}

footer figure.on figcaption {
  color: var(--neutral-black-50);
}

footer.trainer ul li.note {
  display: none;
}

footer.member ul li.schedule,
footer.member ul li.management {
  display: none;
}
/* footer E: */

/* linkbox S: */
.link_box {
  display: flex;
  align-items: center;
  gap: 4px;
}

.link_box.sb {
  justify-content: space-between;
}

.link_box span {
  color: var(--neutral-black-50);
}

.link_box .icon_box {
  display: flex;
  align-items: center;
  gap: 16px;
}
/* linkbox E: */

/* drop-panel S: */
.drop-panel-container {
  width: 100%;
  background-color: var(--form-fill-disabled);
  border-radius: 0.5em;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.102);
  overflow: hidden;
}

.drop-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1em 6%;
}

.drop-panel-content-wrapper {
  transform: translateY(-5px);
  transition: height 0.4s cubic-bezier(0.25, 1, 0.5, 1),
              opacity 0.3s ease,
              transform 0.3s ease;
  opacity: 0;
  overflow: hidden;
}

.drop-panel-content-wrapper.open {
  opacity: 1;
  transform: translateY(0);
}
/* drop-panel E: */

/* list type1 S: */
.list.t1 ul li {
  padding: 1em 6%;
  background-color: var(--neutral-black-700);
  border-radius: 0.5em;
  border: 1px solid var(--neutral-black-600);
}
/* list type1 E: */