@import url(./reset.css);
@import url(./_system.css);
@import url(./char.css);

/* 스크롤 설정 S: */
::-webkit-scrollbar {
  width: 0.3em;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(196, 196, 196, 0.3);
  border-radius: 0.15em;
}
/* 스크롤 설정 E: */

#main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.guide {
  width: 100%;
  max-width: 720px;
  min-height: 0;
  margin: 0 auto;
  padding-bottom: 20px;
  background-color: var(--neutral-black-800);
  position: relative;
  flex: 1;
  overflow: auto;
}

/* section S: */
header + section {
  margin-top: 20px;
}

.section {
  width: 100%;
  padding: 0 6%;
  margin: 0 auto;
}
/* section E: */

/* header S: */
header {
  width: 100%;
  max-width: 720px;
  height: 64px;
  padding: 20px 6%;
  background-color: var(--neutral-black-800);
  box-shadow: 0px 2.18px 5.45px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

header > div {
  min-width: 1.50em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: relative;
  z-index: 10;
}

header .mid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .mid span {
  color: var(--neutral-white);
}

header .taBtn {
  height: 2.19em;
  padding: 0 13.5px;
  background-color: var(--neutral-black-800);
  border: 1px solid var(--neutral-black-300, rgba(196, 196, 196, 1));
  border-radius: 2.19em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

header .taBtn span {
  color: rgba(199, 199, 204, 1);
}

header .greenText {
  font-weight: 500;
  font-size: 1em;
  color: rgba(0, 210, 130, 1);
  line-height: 140%;
  letter-spacing: 0%;
}

header .custom-select-container {
  position: relative;
}

header .custom-select-selected {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
  font-size: 1.25em;
  color: var(--neutral-black-50);
  line-height: 1.3;
  letter-spacing: -0.025em;
  cursor: pointer;
}

header .custom-select-selected + ul {
  width: 100%;
  background-color: var(--neutral-black-50);
  border-radius: 5px;
  box-shadow: 0px 2.18px 5.45px 0px var(--neutral-black);
  transition: 
    height 0.4s cubic-bezier(0.25, 1, 0.5, 1),
    opacity 0.3s ease,
    transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
  transform: translateY(-10px);
  position: absolute;
  top: calc(100% + 10px);
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
}

header .custom-select-selected + ul.open {
  padding: 5px 0;
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

header .custom-select-selected + ul li {
  width: 100%;
  padding: 5px;
  text-align: center;
  font-weight: 400;
  font-size: 1em;
  color: var(--neutral-black);
  line-height: 1.4;
  letter-spacing: -0.025em;
  cursor: pointer;
}
/* header E: */

/* nav S: */
nav {
  display: none;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  background-color: var(--neutral-black-800);
  border-top: 1px solid var(--neutral-black-700);
  flex-shrink: 0;
  z-index: 100;
}

nav.trainer,
nav.member {
  display: block;
}

nav ul {
  width: 100%;
  padding: 0.5625em 6.6% 1.0125em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}

nav figure img {
  width: 1.625em;
}

nav figure img:nth-of-type(2),
nav figure.on img:nth-of-type(1) {
  display: none;
}

nav figure.on img:nth-of-type(2) {
  display: block;
}

nav figure figcaption {
  color: var(--neutral-black-500);
}

nav figure.on figcaption {
  color: var(--neutral-black-50);
}

nav.trainer ul li.note {
  display: none;
}

nav.member ul li.schedule,
nav.member ul li.management {
  display: none;
}
/* nav E: */

/* linkbox S: */
.link_box a {
  display: flex;
  align-items: center;
  gap: 4px;
}

.link_box.sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link_box span {
  color: var(--neutral-black-50);
}

.link_box .icon_box {
  display: flex;
  align-items: center;
  gap: 16px;
}

.link_box .arrow {
  display: flex;
  align-items: center;
}
/* linkbox E: */

/* drop-panel S: */
.drop-panel-container {
  width: 100%;
}

.drop-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drop-panel-header .arrow {
  cursor: pointer;
}

.drop-panel-content-wrapper {
  transform: translateY(-5px);
  transition: height 0.4s cubic-bezier(0.25, 1, 0.5, 1),
              opacity 0.3s ease,
              transform 0.3s ease;
  opacity: 0;
  overflow: hidden;
}

.drop-panel-content-wrapper.open {
  opacity: 1;
  transform: translateY(0);
}
/* drop-panel E: */

/* list type1 S: */
.list.t1 ul li {
  padding: 1em 6%;
  background-color: var(--neutral-black-700);
  border-radius: 0.5em;
  border: 1px solid var(--neutral-black-600);
}
/* list type1 E: */