/* header S: */
header {
  width: 100%;
  max-width: 720px;
  height: 64px;
  padding: 20px 6%;
  background-color: var(--neutral-black-800);
  /* box-shadow: 0px 2.18px 5.45px 0px rgba(0, 0, 0, 0.1); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header > div {
  min-width: 1.50em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: relative;
  z-index: 10;
}

header .mid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .mid span {
  color: var(--neutral-white);
}

header .taBtn {
  height: 2.19em;
  padding: 0 13.5px;
  background-color: var(--neutral-black-800);
  border: 1px solid var(--neutral-black-300, rgba(196, 196, 196, 1));
  border-radius: 2.19em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

header .taBtn span {
  color: rgba(199, 199, 204, 1);
}

header .greenText {
  font-weight: 500;
  font-size: 1em;
  color: rgba(0, 210, 130, 1);
  line-height: 140%;
  letter-spacing: 0%;
}

header .custom-select-container {
  position: relative;
}

header .custom-select-selected {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
  font-size: 1.25em;
  color: var(--neutral-black-50);
  line-height: 1.3;
  letter-spacing: -0.025em;
  cursor: pointer;
}

header .custom-select-selected + ul {
  width: 100%;
  background-color: var(--neutral-black-50);
  border-radius: 5px;
  box-shadow: 0px 2.18px 5.45px 0px var(--neutral-black);
  transition: 
    height 0.4s cubic-bezier(0.25, 1, 0.5, 1),
    opacity 0.3s ease,
    transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
  transform: translateY(-10px);
  position: absolute;
  top: calc(100% + 10px);
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
}

header .custom-select-selected + ul.open {
  padding: 5px 0;
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

header .custom-select-selected + ul li {
  width: 100%;
  padding: 5px;
  text-align: center;
  font-weight: 400;
  font-size: 1em;
  color: var(--neutral-black);
  line-height: 1.4;
  letter-spacing: -0.025em;
  cursor: pointer;
}

header .headerBtn {
  display: none;
}

header .headerBtn.on{
  display: block;
}
/* header E: */